.main{
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
}

.container-2{
    min-width:20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main form{
    width: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
    0 20px 48px rgb(0 0 0 / 5%),
    0 1px 4px rgb(0 0 0 / 10%);
}

.main form h4{
    margin: 5px 0;
}

.main form input{
    margin: 5px 0;
    padding: 5px 10px;
    width: calc(100% - 20px);
    border: solid 1px #0000003e;
    border-radius: 5px;
    font-size: 13px;
}

.submit-btn{
    margin-top: 10px;
    padding: 8px 5px;
    background-color: #009dff;
    border: solid 1px #009dff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 13px;
    font-weight: 500;
}

.submit-btn:hover{
    background-color: #018ce3;
}

.desc{
    margin: 0;
    padding: 8px 5px;;
    color: #666767; 
    font-size: 13px;
}