.meeting-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.go-home{
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.meeting-container p{
    font-size: 13px;
    color: rgb(125, 120, 120);
}